.fiche{
    background-color: aquamarine;
}
.interaction{
    background-color: red;
}
img {
    width: 150px;
    height: auto;
}

#identificationTotale{
    text-align: center;
}
body{
    background-color: orangered;
}